<div class="tinted-image">
    <div id="header">Fleur and Frits Sweets</div>
    <div id="title">Sharing the sweetness from our home to yours</div>
    <div id="name">Check our best sellers</div>
    <div id="bestseller">
        <div id="row">
            <div id="column">
                
            </div>
            <div id="column">
                <img src="../../assets/home/bestseller/walnutloaf-S.jpeg" alt="Walnut Bread">
                <div>Walnut Bread</div>
            </div>
            <div id="column">
                <img src="../../assets/home/bestseller/chocochip-S.jpeg" alt="Chewy Chocolate Chip Cookies">
                <div>Chewy Choco Chip Cookies</div>
            </div>
            <div id="column">
                <img src="../../assets/home/bestseller/brownies-S.jpeg" alt="Brownies">
                <div>Brownies</div>
            </div>
        </div>
    </div>
    
                
        
</div>

